<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main class="main-container">
        <div class="heading-btn-container">
            <div class="heading-container">
                <h1 class="main-head">Blood Donation</h1>
                <p class="main-para">Blood is the most precious gift that anyone can give to another person – the gift of life. A decision to donate your blood can save a life</p>
            </div>
            <div class="btn-container">
                <button class="button sign-in-btn"><a href="{{url_for('login')}}">Sign In</a></button>
                <button class="button learn-more-btn"><a href="https://www.healthline.com/health/benefits-of-donating-blood" target="_blank" rel="noopener noreferrer">Learn More</a></button>
            </div>
        </div>
        <div class="img-container">
            <img src="../static/Assets/blood-donation-img.jpg   " alt="" class="main-img">
        </div>
    </main>
</body>
</html>